:root {
    --elon-red-light: #a0000a;
    --elon-red: #73000a;
    --elon-gold: rgb(211, 197, 157);
    --elon-red-darker: #69000a;
    --elon-red-darkest: #61000a;
    --elon-gold-darker: rgb(161, 147, 107)
}

*, *::before, *::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',Helvetica,sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/alamance.jpeg');
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--elon-red);
    padding: clamp(1px, 1vh, 15px) 10px;
}

.top-nav .elon-logo-horizontal {
    display: block;
}

.elon-logo-horizontal img {
    width: clamp(125px, 15vw, 200px);
}

.top-nav .elon-logo-max-width {
    display: none;
}

.top-nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 15px;
}

#search-button {
    position: relative;
    left: -5px;
    font-size: clamp(20px, 2vw, 23px);
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.clear-search {
    display: none;
    position: relative;
    left: -10px;
    font-size: clamp(20px, 2vw, 23px);
    color: rgb(160, 160, 160);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

form {
    display: flex;
    align-items: center;
}

.top-nav-content i:hover {
    color: rgb(200, 200, 200);
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    position: relative;
    left: 46px;
    background: var(--elon-red-darker);
    height: 25px;
    width: 150px;
    padding: clamp(5px, 2vw, 15px);
    width: clamp(180px, 20vw, 500px);
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 0 1px var(--elon-red-darkest);
    color: rgb(208, 208, 208);
    outline: none;
}


input:active, input:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .7);
}

.hero-title {
    /* border: 1px solid red; */
    color: white;
    padding: 10px 40px;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    backdrop-filter: blur(.75px);
    border-radius: 50px;
}

.bottom-nav {
    display: none;
}

.second-page-container {
    display: flex;
    flex-direction: column;
    content: "";
    background: white;
    width: 100%;
}

.options-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5%;
    padding-bottom: 15px;
}

.add-courses {
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    height: 35px;
    width: 160px;
    padding: 5px 10px;
    align-self: center;
    background: var(--elon-red);
    border-radius: 15px;
    border: 2px solid var(--elon-red-darker);
    color: white;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}


.add-courses:hover, .template-button:hover, .dropdown-content:hover {
    background:rgb(160, 0, 0);
}

.grid-layout, .dropdown-button {
    cursor: pointer;
}

.dummy-button, .template-button {
    width: 50px;
    height: 30px;
}

.dummy {
    width: 80%;
    height: 80%;
}

.template-button-wrapper {
    position: relative;
    color: white;
}

.template-button {
    padding: 0px 5px;
    border-radius: 10px;
    position: relative;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--elon-red);
    gap: 7px;
    border: 2px solid var(--elon-red-darker);
    transition: background 150ms ease-in-out;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: 28px;
    background-color: var(--elon-red);
    padding: 0 8px 1px 8px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    border-bottom: 2px solid var(--elon-red-darker);
    border-right: 2px solid var(--elon-red-darker);
    border-left: 2px solid var(--elon-red-darker);
}

.template-button-wrapper.active-dropdown > .template-button + .dropdown-content {
    opacity: 1;
    pointer-events: auto;
}

.template-button-wrapper.active-dropdown > .template-button {
    border-radius: 10px 10px 10px 0;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    padding-bottom: 50px;
}

.grid-layout-container, .row-layout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.year-column {
    grid-column: 1;
    grid-row: 1;
}

.fall {
    grid-column: 2;
    grid-row: 1;
}

.winter {
    grid-column: 3;
    grid-row: 1;
}

.spring {
    grid-column: 4;
    grid-row: 1;
}

.summer {
    grid-column: 5;
    grid-row: 1;
}

.semester-container, .year {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background: rgb(242 242 242);
    padding: 15px;
    align-items: center;
    justify-items: center;
}

.year div div {
    padding: 5px;
    margin: 0px 15px;
}

.course-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: .75rem;
    width: 80%;
    height: 80%;
}

.course {
    background: var(--elon-gold);
    border: 2px solid var(--elon-gold-darker);
    color: white;
    text-align: center;
    border-radius: 10px;
    transform: translate(0, 0);
    cursor: pointer;
}


.semester-row {
    display: flex;
    justify-content: space-around;
    background: rgb(242 242 242);
    padding: 15px;
}

.semester {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.course-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.courses .course {
    width: 70%;
    font-size: .90rem;
    padding: 5px 15px;
    flex: 1 1;
    margin: 0 40px;
}

.searched {
    background: var(--elon-gold-darker);
    border: 2px solid rgb(131, 117, 97);
    box-shadow: 0 0 5px 1px rgb(131, 117, 97);
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.hover {
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
}

.hold {
    background: rgba(211, 197, 157, 1);
    /* background: black; */
    border: 2px solid rgba(125, 110, 69, 1);
    /* opacity: 1; */
} 

.add-courses-modal {
    display: flex;
    flex-direction: column;
    background-color: #73000a;
    width: clamp(300px, 60vw, 800px);
    max-height: 600px;
    border-radius: 20px;
    position: fixed;
    z-index: 6;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.top-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    flex-basis: content;
    text-align: center;
}

.modal-title {
   text-transform: uppercase;
   font-weight: 500;
}

.modal-text-area {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.modal-text-area textarea {
    background: var(--elon-red-darkest);
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    outline: none;
}

.submit-row {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
}

.submit-button {
    border-radius: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
    background: var(--elon-gold);
    border: 2px solid var(--elon-gold-darker);
    cursor: pointer;
    font-weight: 700;
}

.temp-div {
    width: 30px;
    height: 20px;
}

.close-modal {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
}

/* .searched {
    background: var(--elon-gold-darker);
    border: 2px solid rgb(131, 117, 97);
    box-shadow: 0 0 5px 1px rgb(131, 117, 97);
} */

.show {
    pointer-events: auto;
    opacity: 1;
}

.search-input {
    display: none;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.mobile {
    display: none;
    transform: translate(0, 0);
    cursor: pointer;
}

.inactive-flex {
    display: none;
}

.moving {
    opacity: .5;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}


@media screen and (max-width: 800px) {

    .main-container {
        
        height: 200px;
    }

    .hero-title {
        font-size: clamp(3rem, 10vw ,5rem);
    }

    .semester-container {
        grid-template-columns: auto auto auto auto auto;
    }

    .wide-screen {
        display: none;
    }

    .mobile {
        display: block;
    }

    .courses .wide-screen {
        display: block;
    }
    .inactive-flex {
        display: flex;
    }

    .inactive-layout {
        display: none;
    }
    
    .active {
        display: none;
    }

    .inactive {
        display: block;
    }

    .moving {
        opacity: .5;
    }

    .visible {
        display: block;
    }
    
    .invisible {
        display: none;
    }
}



@media screen and (min-width: 800px) {
    .top-nav .elon-logo-horizontal {
        display: none;
        width: clamp(125px, 15vw, 200px);
    }
    
    .top-nav .elon-logo-max-width {
        display: block;
        width: clamp(300px, 15vw, 450px);
    }

    .elon-logo-max-width img {
        width: clamp(300px, 15vw, 450px);
    }

    .bottom-nav {
        content: "";
        display: block;
        background:rgb(104, 0, 0);
        height: 15px;
    }

    #search-bar {
        display: block;
    }

    .clear-search {
        display: block;
    }

    .course {
        font-size: .85rem;
    }

    .moving {
        opacity: .5;
    }

    .visible {
        display: block;
    }
    
    .invisible {
        display: none;
    }
}